/* Poista marginaalit ja täytöt, jotta sivu on tyhjä lukuun ottamatta logoa */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Käytä koko selaimen korkeutta */
    background-color: white; /* Taustaväri, voit vaihtaa sen haluamaksesi */
    flex-direction: column; /* Elementit pystysuunnassa */
}

/* Logon säätö */
.logo {
    max-width: 40%; /* Skaalaa logo korkeintaan 80% leveydestä */
    height: auto; /* Säilytä mittasuhteet */
}

/* Logon ympärillä oleva säiliö */
.logo-container {
    text-align: center;
    margin: 20px;
}

/* Työn alla -tekstin tyylit */
.under-construction {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    font-weight: bold;
}

/* Sähköpostiosoitteen tyylit */
.contact {
    margin-top: 10px;
    font-size: 18px;
    color: #555;
}

.contact a {
    text-decoration: none;
    color: #007acc; /* Sähköpostilinkin väri */
}

.contact a:hover {
    text-decoration: underline; /* Korostus, kun linkin päällä on hiiri */
}
