/* Yleisasetukset: Poistetaan marginaalit ja lisätään taustakuva */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    /*background-image: url('images/taustakuva.png'); /* Polku taustakuvaan */
   /* background-size: cover; /* Kattaa koko taustan */
    /*background-position: center; /* Keskittää taustakuvan */
    /*background-repeat: no-repeat;
    height: 100%;*/
}

main {
    flex: 1; /* Joustaa ja täyttää lopun tilan */
    padding: 20px; /* Lisää tilaa sisällölle */
}


/* Logon keskitys ja koko */
.logo-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo {
    width: 24vw; /* Skaalaa logoa suhteessa ikkunan leveyteen */
    max-width: 1000px; /* Maksimileveys */
    height: auto;
}

/* Button-container, joka keskittää napit vaakasuunnassa */
.button-container {
    background-image: url('images/logo.'); /* Palkkikuva taustaksi */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw; /* Tilaa nappien väliin suhteessa ikkunan leveyteen */
    margin-top: 40px;
}

/* Nappien tyylit */
.nav-button {
    width: 12vw; /* Skaalaa nappeja suhteessa ikkunan leveyteen */
    max-width: 200px; /* Maksimikoko nappikuville */
    height: auto;
    transition: transform 0.2s;
}

.nav-button:hover {
    transform: scale(1.1); /* Hover-efekti */
}

/* Footer */
footer {
    background-color: rgba(224, 224, 224, 0.8); /* Läpinäkyvä tausta */
    color: #333;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    font-size: 14px; /* Suurempi fonttikoko footerille */
}

.linkedin-logo {
    width: 200px; /* Voit säätää leveyttä haluamasi mukaan */
    height: auto; /* Säilyttää kuvasuhteet */
    margin-top: 20px; /* Välitää logon ja tekstin väliin */
    display: block; /* Estää tekstin kääntymisen logon ympärille */
    margin-left: auto; /* Keskittää logon vaakasuunnassa */
    margin-right: auto; /* Keskittää logon vaakasuunnassa */
}

h1 {
    font-size: 36px; /* Suurentaa otsikon kokoa */
    text-align: center; /* Keskittää otsikon */
    margin-top: 20px; /* Lisää tilaa ylle */
    color: #3c113e; /* Otsikon väri */
}
