/* Yleisasetukset: Poistetaan marginaalit ja lisätään taustakuva */
body {
    font-size: 18px; /* Oletusfonttikoko mobiilille */
    display: flex;
    flex-direction: column; /* Elementit pystysuunnassa */
    justify-content: flex-startcenter; /* Sijoitetaan elementit ylhäältä alkaen */
    align-items: center; /* Keskitetään vaakasuunnassa */
    min-height: 100vh; /* Käytä vähintään koko näkymän korkeutta */
    background-color: rgb(255, 255, 255); /* Taustaväri */
}

.content {
    flex: 1; /* Tämä vie kaiken ylimääräisen tilan */
    width: 100%; /* Varmista, että sisältö vie koko leveydeltä */
}

main {
    flex: 1; /* Joustaa ja täyttää lopun tilan */
}
/* Logon keskitys ja koko */
.logo-container {
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Logon oletuskoko, pienemmille näytöille */
.logo {
    width: 10rem;
    max-width: 80%;
}

/* Logon koko suuremmille näytöille */
@media (min-width: 768px) {
    .logo {
        width: 10rem; /* Suurempi logo näytöille, joiden leveys on vähintään 768px */
    }
}

@media (min-width: 1024px) {
    .logo {
        width: 30rem; /* Vielä suurempi logo, kun leveys on vähintään 1024px */
    }
}


/* Button-container, joka keskittää napit vaakasuunnassa */
.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem; /* Tilaa nappien väliin tietokoneilla */
    margin-top: 2rem;
}

/* Nappien tyylit */
.nav-button {
    width: 10rem;            /* Skaalaa nappeja suhteessa ikkunan korkeuteen */
    max-width: 100%;        /* Maksimikoko nappikuville */
    height: auto;
    transition: transform 0.1s; /* Smooth-efekti */
}

/* Zoomaus pois päältä hoverilla */
.nav-button:hover {
    transform: scale(1.1);  /* Pienennä nappia hieman */
}

.linkedin-logo {
    width: 10rem; /* Voit säätää leveyttä haluamasi mukaan */
    height: auto; /* Säilyttää kuvasuhteet */
    margin-top: 3em; /* Välitää logon ja tekstin väliin */
    display: block; /* Estää tekstin kääntymisen logon ympärille */
    margin-left: auto; /* Keskittää logon vaakasuunnassa */
    margin-right: auto; /* Keskittää logon vaakasuunnassa */
}

h1 {
    font-size: 20px; /* Suurentaa otsikon kokoa */
    text-align: center; /* Keskittää otsikon */
    margin-top: 4rem; /* Lisää tilaa ylle */
    color: #3c113e; /* Otsikon väri */
    justify-content: center; /* Keskitetään vaakasuunnassa */
}

h2 {
    font-size: 16px; /* Suurentaa otsikon kokoa */
    text-align: center; /* Keskittää otsikon */
    margin-top: 2rem; /* Lisää tilaa ylle */
    color: #3c113e; /* Otsikon väri */
    justify-content: center; /* Keskitetään vaakasuunnassa */
}

p {
    font-size: 12px; /* Suurentaa otsikon kokoa */
    text-align: center; /* Keskittää otsikon */
    margin-top: 1rem; /* Lisää tilaa ylle */
    color: #3c113e; /* Otsikon väri */
    justify-content: center; /* Keskitetään vaakasuunnassa */
}

/* Footer */
footer {
    background-color: rgba(224, 224, 224, 0.8); /* Läpinäkyvä tausta */
    color: #333;
    text-align: center;
    padding: 5px 0; /* Ylä- ja alapadding */
    width: 100%; /* Kokoleveydeltä */
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.9); /* Kevyt varjo */
    height: 1vh; /* Kiinteä korkeus */
    display: flex;
    justify-content: center;
    align-items: center;
}


